<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Subjects</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
    {{> woopra}}
  </head>

  <body>
    {{> nav-bar}}

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-5 col-sm-offset-3 col-md-8 col-md-offset-2 main">
          <h1 class="page-header">Subjects</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Subject Code</th>
                  <th>Subject Title</th>
                </tr>
              </thead>
              <tbody>
                {{#each subjects}}
                <tr>
                    <td><a class="btn btn-xs btn-primary" href="/classes/subjects/{{code}}" role="button">View</a></td>
                    <td>{{code}}</td>
                    <td>{{title}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
