<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Upload Notes</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Noats</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">My Notes</a></li>
            <li><a href="/classes/subjects">Classes</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

    <div>
        <h2>Upload Notes</h2>
      </div>

<div class="btn-group-vertical" role="group" aria-label="...">
  <h3> Class </h3>
  <button type="button" class="btn btn-default">ATP 100</button>
  <button type="button" class="btn btn-default">CSE 101</button>
  <button type="button" class="btn btn-default">ECON 120A</button>
</div>

 <div>
 <h3> Insert Text or Upload File </h3>
    <div class="input-group">

  <form role="form">
    <div class="form-group">
      <label for="comment">Copy/Paste Notes:</label>
      <textarea class="form-control" rows="6" id="comment"></textarea>
    </div>
    <a class="btn btn-primary btn-md" href="#" role="button">Upload Input Text</a>
  </form>
    </div><!-- /input-group -->
    <br>
    <a class="btn btn-primary btn-md" href="#" role="button">Upload Existing File</a>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->






    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
